.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.4rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  font-family: var(--primary-outfit) !important;
}

.word {
  display: inline-block;
}
