/* .sliderIn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0004d4;
  transform-origin: top;
} */

.sliderOut {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #9e0000; */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.418) 100%
  );
  backdrop-filter: blur(8px);
  transform-origin: top;
}

.sliderOut1 {
  position: fixed;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #ffffff; */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0.226) 100%
  );
  backdrop-filter: blur(2px);
  transform-origin: top;
}
