.homeContainer {
  display: flex;
  flex-direction: column;
}
.countUpContainer {
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.countUpInnerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.countUpCellSection {
  width: 50%;
  margin: 2rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  color: #ffffff;
}
.countUpCellSection h6 {
  font-size: 1.5rem;
}
.countUpCellSection span {
  margin: 0.2rem;
}
.increasingContent {
  font-size: 75px;
  font-family: var(--primary-bungee);
}
.increasingText {
  font-family: var(--primary-barlow);
  font-size: 30px;
  text-align: center;
}
.homeAboutContainer {
  padding: 2rem;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  font-size: large;
  position: relative;
  text-transform: capitalize;
}

#aboutUS {
  font-family: var(--primary-raleway) !important;
  font-weight: 200 !important;
  color: black !important;
  font-size: 20px !important;
}
