@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #141414;
  --primary-darumadrop: 'Darumadrop One', serif;
  --primary-orbitron:
    'Orbitron', serif; /*main headings,event titles,hero section*/
  --primary-poppins: 'Poppins', serif; /*body text,descriptions,paragraphs*/
  --primary-rajdhani:
    'Rajdhani', serif; /*buttons,countdown,timers,leaderboard*/
  --primary-rampart: 'Rampart One', serif;
  --primary-rubik: 'Rubik Microbe', serif;
  --primary-playfair: 'Playfair Display', serif;
  --primary-sarina: 'Sarina', serif;
  --primary-bungee: 'Bungee Inline', serif;
  --primary-barlow: 'Barlow', serif;
  --primary-page-gradient: linear-gradient(to right, #000000, #922b2b);
  --primary-oswald:"Oswald",serif;
  --primary-opensans:"Open Sans",serif;
  --primary-worksans:"Work Sans",serif;
  --primart--raleway:"Raleway",serif;
  --primary-gugi:"Gugi",serif;
  --primary-kanit:"Kanit",serif;
  --primary-electrolize:"Electrolize",serif;
  --primary-righteous:"Righteous",serif;
  --primary-outfit:"Outfit",serif;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
}
